RTCP support

[RFC 3550](https://tools.ietf.org/html/rfc3550) requires conforming implementations to provide RTCP support. In fact, `roc` can function without it, though RTCP provides some benefits:
- without RTCP, sender has no feedback from receiver; it even doesn't know, if receiver was able to receive traffic, if receiver was able to process the traffic and didn't reject it for some reason, and if quality of service is acceptable;
- RTCP allows receiver to detect associated streams from single sender in a standard-conforming way, e.g. audio stream and FEC stream (we're now using an ad-hoc implementation that conforms to no standard);
- RTCP provides timing synchronisation for sender and receiver and for several streams of single sender (e.g. audio and video);
- RTCP can be used to implement dynamic adjustment of latency and FEC code rate (using [RFC 5725](https://tools.ietf.org/html/rfc5725));
- RTCP can be used to implement retransmission using [RFC 4588](https://tools.ietf.org/html/rfc4588) and [RFC 4585](https://tools.ietf.org/html/rfc4585);
- RTCP allows multiple senders to share the same source transport address (e.g. in case of RTP translator);
- RTCP allows seamless sender restart or address change (this also allows sender roaming);
- RTCP allows receiver to terminate sender's session immediately without waiting for timeout;
- RTCP is used in RTSP, which we may want to support in future;
- with RTCP, receiver sends to sender various statistics that may be useful for troubleshooting, especially when receiver is some embedded device which is harder to debug;
- some senders may reject connection if there is no RTCP feedback from receiver (I'm not aware of such senders however);
- finally, RTCP also allows to exchange arbitrary application-specific data.

RTCP consists of the following [message types](https://en.wikipedia.org/wiki/RTP_Control_Protocol#Message_types):
- `SR` (sender report): statistics sent from sender to receiver;
- `RR` (receiver report): statistics and feedback send from receiver to sender;
- `SDES` (source description items): sender identification sent from sender to receiver;
- `BYE`: session termination, initiated by sender or receiver;
- `APP`: arbitrary application-specific data.

## Steps

Initial implementation:

- [ ] rtcp::Parser
- [ ] rtcp::Composer
- [ ] rtcp::Builder
- [ ] rtcp::Traverser
- [ ] rtcp::XrTraverser
- [ ] rtcp::SdesTraverser
- [ ] rtcp::ByeTraverser
- [ ] rtcp::Session (generates and processes RTCP packets and invokes hooks)

Additional components:

- [ ] rtcp::IntervalComputer (computes packet generation interval) 
- [ ] rtcp::RttEstimator (estimates RTT based on XR)

Padding:

- [ ] RTCP builder should pad last packet in compound.

Refine error handling:

* [ ] instead of INVALID state, I suggest to keep only END state and add bool error() getter to check if there were errors; this will make user code less bug prone - the last state is always END
* [ ] if we skip some packet/chunk/block, we should set error flag so that the user can check it with bool error() getter; this should be done in all traverser
* [ ] when we skip something, we should allow to continue to next item, don't fail instantly, so that the user could parse everything that is parsable; for example, Traverser validate() doesn't follow this approach

Implement additional tests:

* [ ] unknown XR blocks
* [ ] unknown RTCP packet type
* [ ] multiple SDES chunks
* [ ] zero blocks (RR, SR, XR)
* [ ] zero sub-blocks (XR DLRR)
* [ ] zero chunks, zero items (SDES)
* [ ] zero sources (BYE)
* [ ] empty strings (SDES item, BYE reason)
* [ ] test for various invalid packets
* [ ] tests with real captured packets

Packet handling:

- [ ] SDES: generate (on sender)
- [ ] SDES: process (on receiver)
- [ ] BYE: generate (on sender and receiver)
- [ ] BYE: process (on sender and receiver)
- [ ] SR: generate (on sender)
- [ ] SR: process (on receiver)
- [ ] RR: generate (on receiver)
- [ ] RR: process (on sender)

Integrate RTCP into pipeline:

* [ ] teach receiver to send packets
* [ ] teach sender to receive packets
* [ ] teach netio to share port for receiving and sending
* [ ] fully fill SR, RR, XR
* [ ] determine what SSRC to use in SDES sent by receiver
* [ ] handle ssrc/cname mapping in receiver pipeline
* [ ] schedule pipeline update according to update_deadline

Done.